/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

	/* MODAL */

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/




.bgimage {
	background-image:
        linear-gradient(rgba(0, 46, 82, 0.8), rgba(0, 46, 82, 0.8)), 
        url(../../img/placeholder-jumbotron.jpg);
	background-size: cover;
	min-height: 200px;
}

.bgimage-inside {
	padding-top: 30%;
}


#bg-image-text {
	margin: 5px;
	background-color: transparent;
	color: white;
}


#title-tag {
	font-size: 5rem;
	font-weight: 200;
}


#description-tag {
	font-size: 3.5rem;
	font-weight: 100;
}


#jumbotron-blue-horizontal-rule {
	border-color: #3e7ee6;
	width: 60%;
}


#learn-more-button {
	background-color: transparent;
	border: 1px solid #3e7ee6;
	margin-top: 25px;
	font-weight: 100;
	letter-spacing: 1px;
}

#learn-more-button:hover {
	border: 1px solid #fff;
}






/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

	/* WHO WE ARE + IMAGE */

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/


#who-we-are-title {
	margin-top: 75px;
	font-weight: 100;
}

#who-we-are-horizontal-rule {
	border-color: #3e7ee6;
	width: 30%;
}


#who-we-are-description-tag {
	width: 80%;
	margin: 10% auto;
	font-weight: 100;
}

#meet-the-team-button {
	background-color: transparent;
	border: 1px solid #3e7ee6;
	margin-top: 25px;
	font-weight: 100;
	letter-spacing: 1px;
	color: black;
	position: relative;
	bottom: 25px;
}

#meet-the-team-button:hover {
	border: 1px solid #888888;
}



#who-we-are-supporting-image {
	background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), 
        url(../../img/who-we-are-image.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     height: 500px;
 }



@media (max-width: 764px) {

	#who-we-are-dialogue-box {
		background-image:
        	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), 
        	url(../../img/who-we-are-image.jpg);
     	background-repeat: no-repeat;
     	background-position: center;
     	background-size: 100% auto;

     	height: 400px;
    }


	#who-we-are-title {
		margin-top: 2px;
		padding-top: 30px;
		color: white;
	}


	#who-we-are-description-tag {
		color: white;
		margin-top: -15px;
	}

	#meet-the-team-button {
		color: white;
		border: 1px solid #3e7ee6;
		margin: 15px 0 15px 0;

	}

	#meet-the-team-button:hover {
		color: white;
		border: 1px solid #fff;
	}


	#who-we-are-supporting-image {
		display: none;
	}
}







/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

	/* GOOGLE MAPS + WHERE TO FIND US */

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

.google-maps-map {
	overflow: hidden;
	/*height: 451px;*/
	height: 451px;
	width: 100%;
	float: left;
	/*background-color: green;*/
}


#gmap_canvas {
	height: 100%;
	width: 100%;
	/*background-color: red;*/
}


#gmap_canvas img {
	max-width: none !important;
	background: none !important;
}


.where-to-find-us-info {
	background-color: #626262;
	width: 100%;
	height: 100%;
	position: relative;
	top: -20px;
}


.text-white-and-larger {
	color: white;
	font-weight: 100;
	margin: 5px 0;
}


#find-us-title {
	padding-top: 75px;
	color: white;
	font-weight: 100;
}

#get-directions-button {
	color: white;
	border: 1px solid #fff;
	background-color: transparent;
	font-weight: 100;
}


#get-directions-button:hover {
	color: white;
	border: 2px solid #fff;
}


.directions-paragraph {
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-weight: 100;
}



@media screen and (max-width: 768px) {

	.google-maps-map {
		display: none;
	}

	.where-to-find-us-info {
		background-image:
        	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), 
        	url(../../img/google-maps-default-background.png);
     	background-repeat: no-repeat;
     	background-position: center;
     	background-size: cover;
     	background-size: 100% auto;

     	height: 400px;
     	position: relative;
     	top: -35px;
     	border-top: 2px solid #626262;
     	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
	}

	#find-us-title {
		padding-top: 15px;
		color: white;
		font-weight: 100;
		font-size: 3.4rem;
	}

	.text-white-and-larger {
		font-size: 1.8rem;
	}


	#all-day-contact {
		position: relative;
		top: -10px;
	}

}