/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

	/* MODAL */

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/


#contact-us-modal-content {
	background-color: #002e52;
	border: 3px solid #fff;
}


.modal-header {
	border-bottom: 0px none;
}


#close-modal-button {
	color: white;
	opacity: .8;
}

#close-modal-button:hover {
	opacity: 1;
}

#modal-logo {
	width: 25%;
}


#myModalLabel {
	font-size: 2.5rem;
	font-weight: 100;
	color: white;
}

#myModalDescription {
	font-size: 1.75rem;
	font-weight: 100;
	color: white;
}

#blue-horizontal-rule {
	border-color: #3e7ee6;
}


#modal-body {
	border-top: 0px none;
}



.form-label-white {
	color: white;
	font-weight: 100;
	font-size: 2rem;
}



#modal-footer {
	background-color: #3e7ee6;
	border-top: 0px none;
}


#send-enquiry-button {
	width: 100%;
	height: 40px;
	background-color: #3e7ee6;
	color: white;
	font-size: 2rem;
	font-weight: 100;
	margin: 0;
	padding: 0;
	border: 0px none;
}