/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

	/* FIND US STYLES */

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/


.where-to-find-us-map-container {
	background-color: #002e52;
}


#find-us-page-map {
	margin-top: 50px;
}


.our-offices {
	height: 500px;
	margin-top: 20px;
}


.section-header-white {
	color: white;
	font-weight: 200;
}


.white-text {
	color: white;
	font-weight: 100;
}


.weekday {
	color: white;
	font-weight: 200;
}


#find-us-office-number {
	font-size: 1.75rem;
	color: white;
}


#find-us-mobile-number {
	font-size: 1.75rem;
	color: white;
}


#directions-horizontal-rule {
	border-color: #3e7ee6;
	width: 50%;
}


#directions-title {
	color: white;
	font-weight: 200;
}


.by-transport-column {
	height: 250px;
	padding: 0 15px;
	margin-bottom: 100px;
}


@media screen and (max-width: 768px) {
		.our-offices {
		height: 400px;
		padding-top: 20px;
	}

	.by-transport-column {
		margin-bottom: 20px;
	}
}